@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url('../fonts/NunitoSans_10pt_SemiCondensed-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'NunitoSans-Bold';
  src: url('../fonts/NunitoSans_10pt_SemiCondensed-Bold.ttf');
  font-weight: 700;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 999;
  background-color: #fff;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.hamb {
  display: none;
}

.popup {
  position: fixed;
  opacity: 0;
  top: 75px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  transition: 1s;
}


.menu>li>a {
  text-decoration: none;
}


/* //add */

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: #6EBB62;
  transition: 0.5s;
}

.bar:nth-child(1) {
  width: 85px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.bar:nth-child(2) {
  display: none;
}

.bar:nth-child(3) {
  width: 63px;
  margin-left: -10px;
}


.hamb__field {
  cursor: pointer;
}

.popup.open {
  transition: 1s;
  left: 0;
  opacity: 1;
}


.popup .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 120px 0;
  overflow: auto;
  transition: 1s;
}

.popup .menu>li {
  width: 100%;
}

.popup .menu>li>a,
.popup .menu>li>form>button {
  width: fit-content;
  font-size: 36px;
  display: flex;
  justify-content: start;
  text-transform: uppercase;
  padding: 12px 0;
  transition: 1s;
  background: #333333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup .menu>li>a:hover {
  background-color: #6EBB62;
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(1) {
  width: 30px;
  transform: translateY(4px) rotate(45deg);
  margin: 6px auto;
}

.hamb__field.active .bar:nth-child(3) {
  margin: 6px auto;
  width: 30px;
  transform: translateY(-5px) rotate(-45deg);
}

body.noscroll {
  overflow: hidden;
}

.menu_active {
  padding-bottom: 8px;
  border-bottom: 4px solid #6EBB62;
}

@media (max-width: 960px) {
  .hamb {
    display: flex;
    align-items: center;
  }

  .navbar__wrap .menu {
    display: none;
  }

  .navbar__wrap .menu>li {
    display: flex;
    align-items: stretch;
  }

  .navbar__wrap .menu>li>a {
    display: flex;
    align-items: center;
  }

  .navbar__wrap .menu>li>a:hover {
    color: rgba(255, 255, 255, 1);
  }

  .popup .menu>li>a {
    width: 100%;
    justify-content: center;
    font-size: 30px;
    background: transparent;
    -webkit-text-fill-color: currentcolor;
  }

  .bar:nth-child(1) {
    width: 30px;
    margin: 6px auto;
  }

  .bar:nth-child(2) {
    display: block;
  }

  .bar:nth-child(3) {
    width: 30px;
    margin: 6px auto;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .menu_active {
    padding-bottom: 0;
    color: #6EBB62;
    border-bottom: none;
  }
}



.swiper-button-next:after {
  content: '';
}

.swiper-button-prev:after {
  content: '';
}


.mySwiper:before,
.mySwiper:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.mySwiper:before {
  left: 0;
  background: linear-gradient(90deg, rgb(110 187 98 / 50%) 0%, rgba(255, 255, 255, 0) 100%);
}

.mySwiper:after {
  right: 0;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(110 187 98 / 50%) 150%);
}

.mySwiper {
  border-bottom: 1px solid #6EBB62;
  margin-bottom: 40px;
}

.mySwiper .swiper-slide {
  width: auto;
  cursor: pointer;
  padding: 0 5px;
  font-family: 'NunitoSans-Regular';
}

.mySwiper .swiper-slide-thumb-active {
  font-family: 'NunitoSans-Bold';
  padding-bottom: 5px;
  border-bottom: 3px solid #6EBB62;
}



.swiper2 .swiper-pagination .swiper-pagination-bullet span[aria-label="Go to slide 1"] {
  background: #000;
}

.swiper2 .swiper-slide:hover .inner {
  background-color: #8f90f8;
  color: white;
}



/* .mySwiper {
  overflow-x: scroll;
}

.mySwiper::-webkit-scrollbar {
  height: 5px;
  background-color: transparent;
  cursor: pointer;
}

.mySwiper::-webkit-scrollbar-thumb {
  width: 50px;
  height: 2px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #6EBB62;
  cursor: pointer;
} */


/* .swipe-4 .swiper-button-prev {
  transform: rotate(180deg);
} */

.swipe-4 .swiper-button-prev::before,
.swipe-4 .swiper-button-next::before {
  content: '>';
  position: absolute;
  bottom: 5px;
  top: 0;
  font-size: 46px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swipe-4 .swiper-button-prev::before {
  content: '<';
}



/* checkbox */

input[type="checkbox"] {
  display: none;
}

.form-checkbox {
  position: relative;
}

.form-checkbox::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  left: 0;
  top: 5px;
  background-color: #fff;
  border-radius: 5px;
}

input[type="checkbox"]:checked+.form-checkbox::before {
  border: 1px solid #fff;
  background-color: transparent;
  color: #4042A4;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* add image */

.wrapper {
  border: 1px solid #8f90f8;
  position: relative;
  overflow: hidden;
}

.add-photo__wrapper {
  display: inline-block;
  width: 100%;
  padding-bottom: 100%;
  cursor: pointer;
}

.add-photo__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.add-photo {
  display: none;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 15px;
  z-index: 11;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  display: none;
}

@media (min-width: 540px) {
  .close {
    top: 15px;
  }
}

.close.active {
  display: block;
}

.close .bar {
  position: absolute;
  top: 28%;
  right: 18%;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #8f90f8;
}

.close .bar:first-child {
  transform: rotate(45deg);
}

.close .bar:last-child {
  transform: rotate(-45deg);
}